<!DOCTYPE html>
<html>
    <head>
        <title>Yi Tung's Page</title>
        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">

        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!--- for navigation arrows -->
        
       
    </head>


    <body>
        
        <nav>
            <div class="logo">
                <a href="#home">YI TUNG</a>
            </div>

            <ul class="navLinks">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <!---<li><a href="#weather">Weather</a></li>--->
                <li><a href="#contact">Contact</a></li>
            </ul>
        
            <div class="threeLines">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>



        <div class="homeSection" id="home">
            <div class="heroImage">
                <div class="heroContainer">
                    <span class="typedText"></span><span class="cursor">&nbsp;</span><br>
                    <h2>welcome to my page :)</h2>
                </div>
            </div>
        </div>

        

        <div class="aboutSection" id="about">  
            <div class="controls">
                <span class="leftArrow"><span class="material-icons" style="font-size: 80px;">navigate_before</span></span>
            </div> 

            <div class="bodyText">             
                <h3>About Me</h3>
                <div class="slider">
                    <section>
                    <h4>Introduction</h4>
                    <img src="img/IMG_3957.JPG" class="bodyImage">
                    Hi, my name is <u>Yi Tung</u> and these are a few things that I love:
                    <li>Travelling &#127759;</li>
                    <li>Being active like working out and playing sports &#127947;</li>
                    <li>Anything sweet like cakes, sweets and chocolate &#127856; &#127852; &#127851;</li>
                    <li>Dogs (even though I have a family cat, Toby) &#128049;</li>
                    <li>Learning and trying out new things, like creating this website! &#127881;</li>
                    <br>
                    <p>I'm an optimisitc person who do not give up easily. 
                        I am creative and also able to pick up skills quickly!</p> 
                    <p>Click on the right navigation arrow to find out more about me! &#128522;</p>
                    </section>

                    <section>
                    <h4>Pictures of me</h4>
                    <div class="row">
                        <div class="column">
                            <img src="img/Body1.JPG" class="column">
                        </div>

                        <div class="column">
                            <img src="img/Body2.JPG" class="column">
                        </div>

                        <div class="column">
                            <img src="img/Body3.png" class="column">
                        </div>
                    </div>
                    </section>
                    
                    <section>
                    <h4>Why do I want to be part of this bootcamp? (part 1 of 2)</h4>
                    <p>
                    I was exposed to the technology field when I was in my final year of my undergraduate studies. 
                    It was a collaborative project between NUS and various organisations.
                    I had to work with 4 of my peers to solve a real life problem provided by the organisation we were attached to.
                    It brand new experience for me as this project required coding but I had no prior knowledge in python. 
                    However, I actually enjoyed the process of gaining knowledge from scratch and successfully run the script. 
                    I love the sense of satisfaction that I get when I succeed in something, especially if I doubted myself initially.
                    </p>
                    <br>
                    <p>
                    For my final year project, my thesis was on promoting women leaders in the STEM industries. 
                    While gathering information, I managed to interview 3 respectable women who are leaders and/or founders in the technology field.
                    I was so inspired by their dedication to their work and the female community and I aspire to be like them where I can influence and be a role model for younger females.
                    Even till date, I have also joined other female tech community groups and I have supported and attended some of their activities and courses.
                    </p>
                    </section>

                    <section>
                    <h4>Why do I want to be part of this bootcamp? (part 2 of 2)</h4>
                    <p>
                    After graduation, I worked in a logistics industry under a graduate program but I quickly realised that it's not the industry for me.
                    In general, I prefer doing more hands on activities such as coding, building a website or analysing data.
                    It was something that my previous job could not offer. 
                    I decided to change my career and venture into the technology field by taking up courses in python first as I had some experience. 
                    However, I realised that in order to secure a job in the technology field, I need to show my profiency and capability since I have no technical experience.
                    As I am still relatively new to the technology industry, I wanted to try out different aspects of it and narrow my options from there.
                    Through this bootcamp, I hope to gain some technical skills to build up my portfolio, as well as connections from the industry to kickstart my career.
                    </p>
                    <br>
                    <p>
                    I hope that through my hard work and dedication, I will be able to eventually secure a job in the technology field and doing something that I am passionate about. 
                    Once I am proficient enough, I also hope to mentor and inspire future generations of females! &#128522;
                    </p>
                    </section>

                    
                </div>
            </div>

            <div class="controls">
                <span class="rightArrow"><span class="material-icons" style="font-size: 80px;">navigate_next</span></span>
            </div>  
        </div>

        

        <div class="contactSection" id="contact">
            <div class="bodyText">
                <h3>Contact Me</h3>
                <div class="table">
                    <ul class="socialLinks">
                        <li><a href="https://www.instagram.com/tongzxc"><img src="https://image.flaticon.com/icons/svg/1051/1051262.svg"></a></li>&nbsp;&nbsp;&nbsp;&nbsp;
                        <li><a href="https://www.linkedin.com/in/leongyitung/"><img src="https://image.flaticon.com/icons/svg/1051/1051282.svg"></a></li>&nbsp;&nbsp;&nbsp;&nbsp;
                        <li><a href="https://github.com/tongzxc"><img src="https://image.flaticon.com/icons/svg/1051/1051275.svg"></a></li>
                        <br><br>
                    </ul>
                    <p style="font-size: 13px;">Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>

                    <br>
                    <hr>
                    <br><br>

                    
                    <form id="contactForm">
                        <h4>To send me a message</h4>
                        <section v-if="step == 1">
                            <span v-for="e in errors">{{ e }}</span><br>
                            <input v-model="form.name" placeholder="Enter your name"><br>
                        </section>

                        <section v-if="step == 2">
                            <span v-for="e in errors">{{ e }}</span><br>
                            <input v-model="form.phone" placeholder="Enter your phone number">
                            <input v-model="form.email" placeholder="Enter your email">
                        </section>
                    

                        <section v-if="step == 3">
                            <span v-for="e in errors">{{ e }}</span><br>
                            <textarea v-model="form.message" placeholder="Enter your message"></textarea>
                        </section>
                        
                        <button v-if = "step != 1" 
                        @click.prevent="prevStep">Previous</button>

                        <button v-if = "step != totalsteps" 
                        @click.prevent="nextStep">Next</button>

                       <button v-if = "step == totalsteps" 
                        @click.prevent="submitForm" style="background-color: #736173;">Submit</button>
                        
                    </form>
                </div>
            </div>
        </div>



        <script src="app.js"></script>

        
        <script>
            const App = new Vue ({
                el: "#contactForm",

                data: {
                    step: 1,
                    totalsteps: 3,
                    errors: [],

                    form: {
                        name: null,
                        email: null,
                        phone: null,
                        message: null
                    }
                },

                methods: {
                    prevStep: function() {
                        this.step--;
                    },

                    nextStep: function() {
                        if (this.step == 1) {
                            if(!this.form.name){
                                this.errors = '* Please fill in your name';
                                return false;
                            }
                            this.errors = null;
                        }

                        if (this.step == 2) {
                            if(!this.form.phone) {
                                this.errors = "* Please fill in your phone number";
                                return false;
                            } else if (!this.validPhone(this.form.phone)) {
                                this.errors = "* Please enter a valid 8 digit phone number";
                                return false;
                            }

                            if(!this.form.email) {
                                this.errors = "* Please fill in your email address";
                                return false;
                            } else if (!this.validEmail(this.form.email)) {
                                this.errors = "* Please enter a valid email";
                                return false;
                            }

                            this.errors = null;
                        }

                        this.step++;
                    },

                    submitForm: function() {
                        if (this.step == 3) {
                            if(!this.form.message) {
                                this.errors = "* Please fill in your message";
                                return false;
                            }
                        }

                        this.errors = null;
                        
                        // console.log({Name: this.form.name, Phone: this.form.phone, Email: this.form.email, Message: this.form.message});
                        
                        window.location.href = "mailto:yitungemail@test.com?subject=Message from " + this.form.name + 
                        "&body=Name: " + this.form.name + "%0D%0A Phone: " + this.form.phone + "%0D%0A Email: " + this.form.email + "%0D%0A Message: " + this.form.message;
                        
                        alert('A preview of your message has been generated in a new window');
                    },

                    validPhone: function (phone) {
                        var re = /^[0-9]{8}$/;
                        return re.test(phone);    
                    },

                    validEmail: function (email) {
                        var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                        return re.test(email);    
                    }
                },
            });
        </script>

    </body>
</html>